html {
	height:100%;
	width:100%;
}

body {
	width:100%;
	height:100%;
	margin:0;
	background:#F9F9F9;
	font-family: 'Dosis', sans-serif;
}

#wrapper {
	max-width:1000px;
	margin:200px auto;
	overflow:hidden;
}

h1 {
	text-align:left;
	font-size:2em;
	color:rgb(88, 231, 166);
	letter-spacing:4px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	position:relative;
	display:block;
	padding:0.6em 0 0.7em 0;
	border-bottom:4px solid;
	margin:0;
	text-transform:uppercase;
	border-color:rgb(88, 231, 166)!important;
	overflow:hidden;
	cursor:pointer;
}

h1 .message {
	width:calc(100% - 60px);
	float:left;
}

h1 .likes {
	float:right;
	color:#dddfe2;
}


#basic-messages h1:first-child {
	border-top:0;
}

#basic-messages h1:last-child {
	border-bottom-color:rgb(88, 231, 166);
}

#basic-messages h1 {
	text-decoration:line-through;
	color:#DADADA;
}

h1:first-child {
	border-top:4px solid;
}

h1:hover {
	letter-spacing: 6px;
	color:rgb(250, 98, 62);
	border-color:rgb(88, 231, 166);
}

a {
	color:rgb(88, 231, 166);
}

a:hover {
	color:#000;
}

input, textarea {
	width:100%;
	padding:0.6em 0 0.7em 0;
	font-size:2em;
	margin:0;
	border:0;
	outline:0;
	border-bottom:4px solid;
	color:rgb(88, 231, 166);
	letter-spacing:4px;
	text-transform:uppercase;
	background:transparent;
	font-family: 'Dosis', sans-serif;
	text-align:left;
	font-weight:bold;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}

textarea {
	height:1em;
	resize: none;
}

#submit {
	width:6em;
}

form {
	text-align:left;
}

#output {
	text-align: left;
	color: rgb(88, 231, 166);
	font-size: 2em;
	padding: 1em 0;
}

input[type="submit"]{
	cursor:pointer;
	font-size: 2em;
	border-bottom: 0;	
}

input[type="submit"]:hover {
	color:#000;
}

#logo {
	width:50%;
	float:left;
	text-align:left;
}

#logo svg {
	width:150px;
}

#social {
	width:50%;
	float:left;
	text-align:right;
}

#intro {
	font-size: 1.5em;
	width: 500px;
	margin: 0 auto 100px auto;
	text-align: center;
	line-height:150%;
	color:rgb(88, 231, 166);
}

#back-to-top {
	width:100%;
	text-align:center;
	font-size:1.5em;
	display:block;
	margin:40px 0;
	clear:both;
}

@media screen and ( max-width:1080px ) {
	#wrapper {
		margin:200px 40px;
	}
	#intro {
		width:80%;
	}
}

@media screen and ( max-width:980px ) {
	#wrapper {
		margin-top:100px;
	}
	textarea {
		height:2.5em;
	}
}

@media screen and ( max-width:480px ) {
	#intro {
		width:100%;
	}
	h1 {
		font-size:2em;
		border-width:5px;
	}
	h1:first-child {
		border-width:5px;
	}
	input, textarea {
		font-size:2em;
		border-width:5px;
	}
	textarea {
		height:5em;
	}
	#logo {
		width:100%;
		text-align:center;
		margin-bottom:40px;
		float:none;
	}
	#social {
		width:100%;
		margin-bottom:40px;
		float:none;
	}
}